.help {
  width: 20px; 
  height: 20px; 
  text-align: center; 
  float: left; 
  display: inline; 
  cursor: help; 
  font-size: 18px; 
  font-family: sans-serif; 
  color: white; 
  background: blue; 
  font-weight: bold;
}

.tooltip {
  cursor: help; 
  TEXT-DECORATION: underline;
}

.tooltip:hover {
  background: yellow;
}

.diff .new {
  background: #80ff80;
}
.diff .old {
  background: #ff8080;
}
.diff {
  background: #ffffff;
}


table.wordlist {
  border: none;
  border-spacing: 0px;

}
.wordlist th {
  background: #f0f0f0;
  border-bottom: solid;
}

.wordlist tr.even td {
  background: #e0e0e0;
}
.wordlist tr.odd td {
  background: #d0d0d0;
}

table.langlist {
  border: none;
  border-spacing: 0px;
  table-layout: fixed;
}

.langlist th {
  background: #f0f0f0;
  border-bottom: solid;
}

.langlist tr.even td {
  background: #e0e0e0;
}
.langlist tr.odd td {
  background: #d0d0d0;
}

table#coordinators {
  border: none;
  border-spacing: 0px;
}

#coordinators th {
  background: #f0f0f0;
  border-bottom: solid;
}

#coordinators tr.even td {
  background: #e0e0e0;
}
#coordinators tr.odd td {
  background: #d0d0d0;
}

table.tablesorter {
  border: none;
  border-spacing: 0px;

}
.tablesorter th {
  background: #f0f0f0;
  border-bottom: solid;
}

.tablesorter tr.even td {
  background: #e0e0e0;
}
.tablesorter tr.odd td {
  background: #d0d0d0;
}
.tablesorter tr.even_untrans td {
  background: #ffe0e0;
}
.tablesorter tr.odd_untrans td {
  background: #ffd0d0;
}

.progress_bar {
  position: relative;
  margin: 0 0 0 0;
  width: 250px;
  border: 1px solid #CCC;
  background: #FFF;  
}
 
.progress_bar span {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 15px;
  background-color: #AAF0FF;
}
 
.progress_bar strong {
  position: relative;
  z-index: 10;
  display: block;
  line-height: 15px;
  text-align: center;
}

input.intinput {
    width: 2em;
    text-align: right;
}

table#coordinator_milestones th {
    text-align: left;
}

table#milestonetable th {
    padding-left: 5px;
    padding-right:5px;
}

table#coordinator_scores th {
    text-align: left;
}

table#coordinator_scores td {
    text-align: right;
}

table#coordinator_scores input.error {
    background: red;
}
