{% extends "ddtss/base_ddtss.html" %}

{% block title %}Debian Description Tracking  --- milestones '{{milestone}}' for {{lang.language}}{% endblock %}

{% block ddtss_head %}
<script language="javascript" type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>

<script type="text/javascript">
$(document).ready(function($) {
    set_milestone_chart("Milestone progress", '{% url ddtss_flot_milestone_data lang.language milestone %}');
})
</script>
{% endblock %}

{% block content %}
<h1>milestones '{{milestone}}' for {{lang.language}}
        <a href="{% url ddtss_addusermilestone 'mile' milestone %}">
            <img src="/media/user_milestone-plus.png" alt="Hight" title="add whole milestone to user milestone" height="15"></a>
{% if user.is_coordinator %}
        <a href="{% url ddtss_addlangmilestone 'mile' milestone %}">
            <img src="/media/lang_milestone-plus.png" alt="Hight" title="add whole milestone to lang milestone" height="15"></a>
{% endif %}
</h1>
<div id="flot_chart" style="display:none;">
    <h3 id="flot_title" style="text-align: center"></h3>
    <div id="flot_graph" style="width:100%;height:150px;"></div>
</div>
<a href="{% url ddt_stats_milestones_lang lang.language %}">back to the milestones for {{lang.language}}</a><br>
<a href="{% url ddtss_index_lang lang.language %}">back to team page {{lang.language}}</a><br>
<table class="tablesorter">
<tr><th>status</th> <th width=75%>Package</th></tr>
{% for descr, transinfo in descriptions %}
{% if transinfo.translate > 0 %}
    <tr class="{% cycle 'odd' 'even' %}">
{% else %}
    <tr class="{% cycle 'odd_untrans' 'even_untrans' %}">
{% endif %}
    <td>{% if transinfo.translate > 0 %}
            <a href="{% url ddt_transdescr transinfo.translate lang.language %}">Translated</a>
        {% else %}
        {% if transinfo.pending > 0 %}
            <a href="{% url ddtss_forreview lang.language descr.description_id %}">Pending translation</a>
        {% else %}
            <a href="{% url ddtss_translate lang.language descr.description_id %}">Fetch for translation</a>
        {% endif %}
        {% endif %}
        <a href="{% url ddtss_addusermilestone 'd_id' descr.description_id %}">
            <img src="/media/user_milestone-plus.png" alt="Hight" title="add description to user milestone" height="15"></a>
{% if user.is_coordinator %}
        <a href="{% url ddtss_addlangmilestone 'd_id' descr.description_id %}">
            <img src="/media/lang_milestone-plus.png" alt="Hight" title="add description to lang milestone" height="15"></a>
{% endif %}
    </td>
    <td> <a style="text-decoration:none;" href="{% url ddt_descr descr.description_id %}">{{ descr.nice_package_versions }}</a></td> </tr>
{% endfor %}
</table>
{% endblock %}
