<HTML>
<HEAD>
    <TITLE>Debian Description Tracking  --- milestones'{{milestone}}' for {{lang}}</TITLE>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}ddtss/ddtss.css" />
</HEAD>
<BODY>
    <h1>milestones '{{milestone}}' for {{lang}}</h1>
<a href="{% url ddt_stats_milestones_lang lang %}">back to the milestones for {{lang}}</a><br>
<a href="{% url ddtss_index %}">back to team page {{lang}}</a><br>
<table class="tablesorter">
<tr><th>status</th> <th width=75%>Package</th></tr>
{% for descr, transinfo in descriptions %}
{% if transinfo.translate > 0 %}
    <tr class="{% cycle 'odd' 'even' %}">
{% else %}
    <tr class="{% cycle 'odd_untrans' 'even_untrans' %}">
{% endif %}
    <td>{% if transinfo.translate > 0 %}
            <a href="{% url ddt_transdescr transinfo.translate lang %}">translated</a>
        {% else %}
            <a href="{% url ddtss_translate lang descr.description_id %}">Fetched for translation</a>
        {% endif %}
    </td>
    <td>{% for version in descr.package_versions %}{{version.package}} ({{version.version}}){% if not forloop.last %}, {% endif %}{% endfor %} </td> </tr>
{% endfor %}
</table>
<br>
</BODY>
</HTML>
