{% extends "base_ddtp.html" %}

{% block title %}Debian Description Tracking  --- source: {{source_name}} ---{% endblock %}

{% block content %}
<h3>{{source_name}}
        <a href="{% url ddtss_addusermilestone 'source' source_name %}">
            <img src="/media/user_milestone-plus.png" alt="Hight" title="add for user milestone" height="15"></a>
{% if user.is_coordinator %}
        <span name="onlycoordinator" style="display:inline"> <a href="{% url ddtss_addlangmilestone 'source' source_name %}">
            <img src="/media/lang_milestone-plus.png" alt="Hight" title="add for lang milestone" height="15"></a></span>
{% endif %}
</h3>
{% for description in descriptions %}
Package: <a href="{% url ddt_package description.package %}">{{description.package}}</a><br>
{% endfor %}
<br>
{% endblock %}
