{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ddtss/ddtss.css" />
{% block ddtss_head %}{% endblock %}
{% endblock %}

{% block body %}
<a href="{% url ddtss_index %}">Team Page</a> |
{% if lang %}
<a href="{% url ddt_stats_milestones_lang lang.language %}">Milestones</a> |
{% if user.is_coordinator %}
<a href="{% url ddtss_coordinate %}">Coordinator-Page</a> |
{% endif %}
{% endif %}
{% if user.superuser %}
<a href="{% url ddtss_admin %}">Admin-Page</a> |
{% endif %}
<br>
{% block content %}{% endblock %}
{% endblock %}
