<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>DDTSS Language Coordination {{lang.language}}</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/ddtss/ddtss.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{% include "navigation.html" %}
<h1>DDTSS Language Coordination {{lang.language}}</h1>
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<p>
{% endif %}
Coordinators:
<table id="coordinators">
<tr><th>Username</th><th>Name</th><th></th></tr>
{% for user in lang.coordinators %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{user.username}}</td>
  <td>{{user.realname}} ({{user.email}})</td>
</tr>
{% endfor %}
</table>
<p>
<form method="post" action="{% url ddtss_coordinate lang.language %}" enctype="multipart/form-data">
{% for errors in form.errors.itervalues %}
{{errors}}
{% endfor %}
Milestones for the language:
<table id="coordinator_milestones">
<tr><th>high milestone</th><td>{{form.milestone_high}}</td></tr>
<tr><th>medium milestone</td><td>{{form.milestone_medium}}</td></tr>
<tr><th>low milestone</td><td>{{form.milestone_low}}</td></tr>
</table>
Scores for controlling the acceptence of translations:
<table id="coordinator_scores">
<tr><th></th><th>Translate</th><th>Review</th></tr>
<tr><th>Trusted user/Coordinator</th><td>{{form.ct}}</td><td>{{form.cr}}</td></tr>
<tr><th>Logged-in user</th><td>{{form.lt}}</td><td>{{form.lr}}</td></tr>
<tr><th>Anonymous user</th><td>{{form.at}}</td><td>{{form.ar}}</td></tr>
<tr><th>Stability bonus</th><td>{{form.stable}}</td><td>(per week)</td></tr>
<tr><th>Acceptence threshold</th><td>{{form.accept}}</td><td><input type=submit name="update" value="Update"></td></tr>
</table>

Rules:
<ul>
<li>Acceptence always requires at least one review.
<li>Trusted users must score greater than or equal to logged-in users, which
must be greater than or equal to anonymous users.
<li>A score of -1 means that type of user is forbidden to do that task.
<li>A score of 0 means the user may do it, but has no effect on acceptence
of translation.
<li>Stability bonus means that translation where nothing has happened for a
while will gain point which may trigger acceptence. Setting to zero disables.
One review is still required.
<li>When the score of a translation reaches the threshold it is accepted
(there may be a delay).
</ul>
</form>
<p>
Trusted users:
<table id="trustedusers">
<tr><th>Username</th><th>Name</th><th></th></tr>
{% for user in lang.trusted_users %}
<form method="post" action="{% url ddtss_coordinate lang.language %}">
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{user.username}}</td>
  <td>{{user.realname}} ({{user.email}})</td>
  <td><button type="submit" name="del" value="{{user.username}}">Remove</button>
</tr>
</form>
{% endfor %}
<form method="post" action="{% url ddtss_coordinate lang.language %}">
<tr>
  <td colspan=2><input name="username" type="text"></td>
  <td><button type="submit" name="add" value="Add">Add</button></td>
</tr>
</form>
</table>
</body>
</html>
