{% extends "ddtss/base_ddtss.html" %}

{% block title %}
DDTSS create login
{% endblock %}

{% block content %}
<h1>DDTSS create login</h1>
<p>
A login on the DDTSS is not in general required. However, certain language
teams may require a login to be able to contribute.
<p>
If you don't have a login the system tries to keep stats in a cookie, so if
you keep using different machines, a login may be useful.
</p>
<form method="post" action="{% url ddtss_create_user %}" enctype="multipart/form-data">
<table id="create_table">
{{form}}
</table>
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="cancel" value="Cancel" />
</form>
<br>Common OpenID providers:
<ul>
<li>https://www.google.com/accounts/o8/id
<li>http://{username}.livejournal.com/
<li>http://{username}.wordpress.com/
<li>http://{username}.blogspot.com/
<li>http://facebook-openid.appspot.com/
</ul>
{% endblock %}
