<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>DDTSS ({{lang.language}}): Translating {{descr.package}}</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/ddtss/ddtss.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{% include "navigation.html" %}
<title>Write a message {{title}}</title>
<link rel="stylesheet" type="text/css" href="/ddtss/ddtss.css" />
<script type="text/javascript">//<![CDATA[
function popup (url) {
 fenster = window.open(url, "Popupfenster", "width=400,height=300,resizable=yes");
 fenster.focus();
 return false;
}

//]]></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>{{title}}</h1>
    <form method="post" action="{% url ddtss_message %}" enctype="multipart/form-data" accept-charset="utf-8">
        <textarea name="message"  rows="4" cols="45"></textarea><br />
        <input type="hidden" name="to_user" value="{{to_user}}"  />
        <input type="hidden" name="for_description" value="{{for_description}}"  />
        <input type="hidden" name="language" value="{{language}}"  />
        <input type="hidden" name="in_reply_to" value="{{in_reply_to}}"  />
        <input type="submit" name="submit" value="send message" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>
</body>
</html>
