{% extends "ddtss/base_ddtss.html" %}

{% block title %}
Write a message {{title}}
{% endblock %}

{# Note body rather than content, no menubar here #}
{% block body %}
<h1>
{% if type == "global" %}
    Send DDTSS global message
{% elif type == "user" %}
    Send message to {{to_user}}
{% elif type == "descr" %}
    Send message about description {{description.description_id}} ({{description.package}})
{% elif type == "descrlang" %}
    Send message about translation of description {{description.description_id}} ({{description.package}}) in {{language.language}}
{% elif type == "lang" %}
    Send message to {{language.language}} translation team
{% else %}
    ??? type = {{type}} ???
{% endif %}
</h1>
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <textarea name="message" rows="4" cols="45"></textarea><br />
        <input type="hidden" name="in_reply_to" value="{{in_reply_to}}"  />
        <input type="submit" name="submit" value="send message" />
        <input type="submit" name="cancel" value="Cancel" />
    </form>
{% endblock %}
